{
    "swagger": "2.0",
    "info": {
        "description": "基于gin框架的社区帖子项目",
        "title": "Star-Travels",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {},
        "version": "1.0"
    },
    "host": "127.0.01:8080",
    "basePath": "/api/v1/",
    "paths": {
        "/communities": {
            "get": {
                "description": "通过该接口获取所有社区",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "社区相关接口"
                ],
                "summary": "查看社区接口",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controller.swaggerResponse"
                        }
                    }
                }
            }
        },
        "/community": {
            "get": {
                "description": "通过该社区可获取对应名字的社区详细信息",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "社区相关接口"
                ],
                "summary": "根据社区名字来获取社区详情接口",
                "parameters": [
                    {
                        "type": "string",
                        "description": "社区名字",
                        "name": "name",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controller.swaggerResponse"
                        }
                    }
                }
            }
        },
        "/community/create": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "可以创建社区（只有管理员身份有权限）",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "社区相关接口"
                ],
                "summary": "创建社区接口",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "创建社区参数",
                        "name": "ParamCreateCommunity",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.ParamCreateCommunity"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/controller.swaggerResponse"
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "description": "通过该接口进行登录账号，获得 token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "用户相关接口"
                ],
                "summary": "用户登录接口",
                "parameters": [
                    {
                        "description": "用户登录参数",
                        "name": "ParamLogin",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.ParamLogin"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controller.swaggerResponse"
                        }
                    }
                }
            }
        },
        "/post": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "通过urlID参数来获取帖子详情的接口",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "帖子相关接口"
                ],
                "summary": "获取帖子详情的接口",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "查询参数",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/controller.swaggerResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "通过该接口来创建帖子",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "帖子相关接口"
                ],
                "summary": "创建帖子的接口",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "创建帖子参数",
                        "name": "Post",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/controller.swaggerPostRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/controller.swaggerResponse"
                        }
                    }
                }
            }
        },
        "/posts": {
            "get": {
                "description": "通过url参数获取帖子列表详细信息的接口",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "帖子相关接口"
                ],
                "summary": "获取帖子列表详细信息的接口",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "第几页",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "每页多少个帖子",
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/controller.swaggerResponse"
                        }
                    }
                }
            }
        },
        "/posts2": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "可根据社区名称（默认为空）和 帖子排序规则来获取帖子（也可以填page和size参数）",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "帖子相关接口"
                ],
                "summary": "升级版获取帖子接口",
                "parameters": [
                    {
                        "type": "string",
                        "example": "成长的路口",
                        "description": "查询的帖子所在的社区名称",
                        "name": "community_name",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "time",
                            "score"
                        ],
                        "type": "string",
                        "example": "time",
                        "description": "查询的排序规则（根据时间获取投票数进行排序，填time 者 score，默认为time）",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "example": 1,
                        "description": "查询第几页，默认第1页",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "example": 10,
                        "description": "每一页帖子的数量，默认每一页10个帖子",
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/controller.swaggerResponse"
                        }
                    }
                }
            }
        },
        "/signup": {
            "post": {
                "description": "通过该接口进行注册账号",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "用户相关接口"
                ],
                "summary": "用户注册接口",
                "parameters": [
                    {
                        "description": "用户注册参数",
                        "name": "ParamSignUp",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.ParamSignUp"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controller.swaggerResponse"
                        }
                    }
                }
            }
        },
        "/vote": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "可以为帖子进行投票",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "帖子相关接口"
                ],
                "summary": "帖子投票接口",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "投票参数",
                        "name": "object",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.ParamVote"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controller.swaggerResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "controller.swaggerPostRequest": {
            "type": "object",
            "required": [
                "community_id",
                "content",
                "title"
            ],
            "properties": {
                "community_id": {
                    "description": "社区ID",
                    "type": "integer",
                    "example": 4
                },
                "content": {
                    "description": "内容",
                    "type": "string",
                    "example": "知足，知止，便是福"
                },
                "title": {
                    "description": "标题",
                    "type": "string",
                    "example": "人生没有什么放不下！"
                }
            }
        },
        "controller.swaggerResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "description": "业务响应状态码",
                    "type": "integer"
                },
                "data": {
                    "description": "返回数据"
                },
                "message": {
                    "description": "提示信息",
                    "type": "string"
                }
            }
        },
        "models.ParamCreateCommunity": {
            "type": "object",
            "required": [
                "community_id",
                "community_name",
                "introduction"
            ],
            "properties": {
                "community_id": {
                    "type": "integer",
                    "example": 1
                },
                "community_name": {
                    "type": "string",
                    "example": "Go"
                },
                "introduction": {
                    "type": "string",
                    "example": "Go语言"
                }
            }
        },
        "models.ParamLogin": {
            "type": "object",
            "required": [
                "password",
                "username"
            ],
            "properties": {
                "password": {
                    "description": "用户密码",
                    "type": "string",
                    "example": "12345"
                },
                "username": {
                    "description": "用户名字",
                    "type": "string",
                    "example": "终生让步"
                }
            }
        },
        "models.ParamSignUp": {
            "type": "object",
            "required": [
                "password",
                "re_password",
                "username"
            ],
            "properties": {
                "password": {
                    "description": "用户密码",
                    "type": "string",
                    "example": "12345"
                },
                "re_password": {
                    "description": "再次确认密码",
                    "type": "string",
                    "example": "12345"
                },
                "username": {
                    "description": "用户名字",
                    "type": "string",
                    "example": "终生让步"
                }
            }
        },
        "models.ParamVote": {
            "type": "object",
            "required": [
                "post_id"
            ],
            "properties": {
                "direction": {
                    "description": "validator binding:oneof 表示该变量的值只能是其中一个（赞同为1，反对为-1）",
                    "type": "string",
                    "enum": [
                        "0",
                        "1",
                        "-1"
                    ]
                },
                "post_id": {
                    "description": "userId; 从请求中获取",
                    "type": "string"
                }
            }
        }
    }
}